body {
    font-family: Arial, sans-serif;
    background-color: #e241ac;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

input[type="number"] {
    padding: 10px;
    margin-right: 10px;
    width: 80px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    font-size: 18px;
    color: #333;
}

#message {
    font-weight: bold;
}

#attempts {
    font-style: italic;
}
.btn {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-style: italic;
    padding: 10px 20px;
    margin: 10px;
    color: rgb(0, 0, 0);
    background-color: #ff61ea;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}